.OverallInfoBody {
  padding: 20px 0 20px 50px;
}

.Date {
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.Duration {
  font-weight: 300;
  margin: 0;
  margin-bottom: 5px;
}

.Type {
  font-weight: 300;
  margin: 0;
  margin-bottom: 10px;
}

.SalaryPerHour {
  font-weight: 600;
  margin: 0;
}
