.AdressInfoBody {
  padding: 20px 0 20px 50px;
}

.PlaceName {
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.Stars {
  margin: 0;
  margin-bottom: 5px;
}

.AdressInfo {
  font-weight: 300;
  margin: 0;
}
