.PaginationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.LeftArrow {
  margin-right: 60px;
  cursor: pointer;
}

.RightArrow {
  cursor: pointer;
}

.Date {
  margin-right: 60px;
}
