@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

$montserrat: 'Montserrat', sans-serif;

$primary-color: #364260;
$green-color: #3aebb6;
$default-font-size: 16px;
